.two-col-feature {
  display: flex;
}
.two-col-feature.img-left {
  flex-direction: row-reverse; 
}
.col {
  width: 100%;
}
.col.text {
  background-color: var(--background-color-text);
}
text {
  padding: 50px;
}
img {
  max-width: 100%; 
}