.custom-split-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.split-section-image img {
  max-width: 100%;
  height: auto;
}

.split-section-content {
  max-width: 50%;
}

@media (max-width: 768px) {
  .custom-split-section {
    flex-direction: column;
  }
  .split-section-content,
  .split-section-image {
    max-width: 100%;
  }
}